# Python
*.pyc
__pycache__/
.env
.venv

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data files
auth.json
ming_auth.json
Pipfile
Pipfile.lock
*.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# Misc
*.log
*.swp
*.swo
